* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans serif";
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  overflow-x: hidden;
}
nav {
  background-color: #02216b;
  top: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.menu {
  width: 3rem;
  position: ;
  display: none;
}
.logo {
  display: flex;
}
.logo img {
  width: 5rem;
  height: 4.8rem;
}
.logo h1 {
  color: white;
  margin-top: 0.7rem;
  margin-left: 1rem;
  align-items: center;
  position: relative;
  top: 50%;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
nav a {
  text-decoration: none;
}
.navlinks {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: 1.5rem;
  list-style: none;
}
.navlinks a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-weight: 500;
  transition-duration: 500ms;
}
.cta a button {
  padding: 1.2rem 2.2rem;
  background-color: transparent;
  color: white;
  border: 0.18rem solid white;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  transition-duration: 500ms;
  outline: none;
}
.cta a button:hover {
  background-color: white;
  color: #02216b;
}
.navlinks a:hover {
  color: aqua;
}
.header {
  height: 90vh;
  position: relative;
  margin-top: 7.5vh;
  background-color: #02216b;
  display: flex;
  align-items: center;
  width: 100%;
}
.headersection {
  margin-left: 6.8rem;
  display: flex;
  align-items: center;
}
.headertext h2 {
  color: white;
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  width: 80%;
  opacity: 0;
  animation: transitionIn 700ms ease forwards 200ms;
}
.headerbutton button {
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.16rem;
  padding: 2.4% 4%;
  border: 0.16rem solid white;
  outline: none;
  opacity: 0;
  animation: transitionIn 700ms ease forwards 1000ms;
  cursor: pointer;
  margin-top: 4rem;
}
.headerbutton button::before {
  content: "";
  position: absolute;
  background-color: white;
  color: #02216b;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
.headerbutton:hover ::before,
.headerbutton:focus {
  transform: scaleX(1);
}
.headerbutton button {
  z-index: 1;
  transition: color 300ms ease-in-out;
}
.headerbutton button:hover,
.headerbutton button:focus {
  color: #02216b;
  cursor: pointer;
}
#line1 img {
  margin-top: 4rem;
  width: 15%;
  opacity: 0;
  animation: transitionIn 700ms ease forwards 600ms;
}
.headerimg {
  width: 50%;
  margin-right: 6.4rem;
  opacity: 0;
  animation: transitionleft 700ms ease forwards 1400ms;
}
.headerimg img {
  display: block;
  width: 100%;
}
.services {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  margin-left: 6.4rem;
  width: 95%;
}
.services h2 {
  font-weight: 600;
  font-size: 3.4rem;
  color: #02216b;
}
#line2 {
  width: 5%;
  margin: 1rem 0;
}
.service-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
.service {
  display: flex;
  margin: 4rem 0;
  width: 95%;
}
.service-text {
  z-index: 5;
  text-align: center;
  text-align: left;
  color: white;
  width: 100%;
  padding: 8rem 4rem;
  margin-top: 4rem;
  min-height: 38rem;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0rem -0.2rem 0.5rem rgba(78, 78, 78, 0.507));
}
.service-img {
  background-color: #02216b;
}
.service-img img {
  margin-top: -30rem;
  margin-left: -10rem;
  width: 130rem;
  position: absolute;
}
.service-text h3 {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.45rem;
}
.service-text ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.service-text ul li {
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  background-color: ;
  color: white;
  list-style: none;
  transition-duration: 400ms;
  cursor: pointer;
  margin-top: 1rem;
}
.service-text p {
  margin-top: 1rem;
  font-size: 1.4rem;
  width: 100%;
  letter-spacing: 0.1rem;
}
#design-text {
  background-color: #934fd8;
}
#development-text {
  background-color: #fb5fb8;
}
#software-text {
  background-color: #3abe81;
}
.service-img {
  transform: scale(0.4);
}
#contact {
  margin: 15rem 0;
  text-align: center;
}
.form-container {
  background-color: #ff5858;
  border-radius: 0.6rem;
  width: 90%;
  padding: 6rem 3rem;
  margin: 0 auto;
  filter: drop-shadow(0rem 0.2rem 0.7rem rgba(78, 78, 78, 0.507));
}
.form-container h3 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
}
.form-container h4 {
  color: white;
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}
form {
  margin-top: 5rem;
}
#name input,
#email input {
  width: 39.5%;
  padding: 1.6rem 3rem;
  outline: none;
  border: none;
  margin: 1rem 0.5rem;
  border-radius: 0.6rem;
}
#details select,
textarea {
  width: 80%;
  margin: 1rem 1rem;
  padding: 1.6rem 3rem;
  outline: none;
  border: none;
  border-radius: 0.6rem;
}
#submit input {
  background-color: #3a3a3a;
  color: white;
  outline: none;
  border: none;
  margin-top: 4rem;
  padding: 1.6rem 5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 600;
  border-radius: 0.7rem;
  filter: drop-shadow(0rem 0.2rem 0.4rem rgba(78, 78, 78, 0.507));
  cursor: pointer;
  transition-duration: 750ms;
  z-index: 100;
}
#submit input:hover {
  background-color: rgb(255, 255, 255);
  color: #3a3a3a;
}
footer {
  width: 100%;
  background-color: #d3d8e5;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-links {
  display: flex;
  width: 95%;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 1rem;
}
.footer-links h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #02216b;
  margin-bottom: 3rem;
}
.contact-details {
  display: flex;
  margin-bottom: 4rem;
}
.contact-details img {
  width: 3rem;
  margin-right: 2rem;
}
.contact-details a {
  text-decoration: none;
}
.footer-links p,
ul li {
  font-size: 1.5rem;
  color: #3d3d3d;
  font-weight: 500;
  letter-spacing: 0.02rem;
  list-style: none;
}
#quicklinks ul {
  flex-direction: column;
  display: flex;
}
#footerservices ul {
  display: flex;
  flex-direction: column;
}
#quicklinks ul a {
  text-decoration: none;
}
.footer-links ul li {
  margin-bottom: 3rem;
}
#copyright {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #3d3d3d;
  font-weight: 500;
  font-size: 1.5rem;
}

/**responsive**/
@media screen and (max-width: 768px) {
  .logo {
    transform: scale(0.86);
  }
  .cta button {
    display: none;
  }
  .headersection {
    margin-left: 2rem;
  }
  .header {
    margin-top: 0;
  }
  .headertext h2 {
    font-size: 2.8rem;
    margin-left: 2rem;
  }
  #line1 img {
    width: 30%;
    margin-left: 2rem;
  }
  #line2 {
    width: 20%;
  }
  .service-grid {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .headerbutton button {
    margin-left: 2rem;
    padding: 6% 8%;
  }
  .service {
    margin: 1rem 0;
  }
  .service-img {
    display: none;
  }
  .headerimg {
    display: none;
  }
  .services {
    margin-left: 2rem;
    width: 92%;
  }
  .service-text {
    width: 100%;
  }
  .service-text h3 {
    text-align: left;
    letter-spacing: 0.2rem;
  }
  .footer-links {
    flex-direction: column;
  }
  #quicklinks ul {
    flex-direction: row;
    justify-content: space-around;
  }
  #footerservices ul {
    flex-direction: row;
    justify-content: space-around;
  }
  #quicklinks ul li,
  h3 {
    text-align: center;
  }
  #footerservices ul li {
    text-align: center;
  }
  #copyright {
    margin: 6rem auto;
    width: 70%;
  }
  .form-container h3 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
  .form-container h4 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  #name input,
  #email input {
    width: 98%;
  }
  #details select,
  textarea {
    width: 96%;
  }
  .menu {
    display: block;
  }
  .navlinks {
    background-color: #02216b;
    position: absolute;
    flex-direction: column;
    text-align: center;
    min-height: 90vh;
    width: 100%;
    top: 10vh;
    opacity: 0;
    pointer-events: none;
    transition-duration: 500ms;
  }
}

.nav-active {
  opacity: 1;
  pointer-events: all;
  display: flex;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes transitionleft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
